/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family:  Arial, Helvetica, sans-serif;
}

/* Common */

.clear{
    clear: both;
}
/* .s-col-full{
    width: 100%; 
} */
.m-col-full{
    width: 100%;
}
.text-white{
    color:#fff !important ;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
    
}
.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}


.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float:left;
    padding-left:  8px;
    padding-right:  8px;
}
.col-third{
    width: calc(100%/3);
}
.col-duo{
    width: 50%;
}
.col-full{
    width: 100%;
}
.submit-btn:hover{
    color:#000 ;
     background-color:#ccc ;
     cursor: pointer;
 }



/*
1.từ ngoài vào trong
2.từ trên xuống dưới
3.từ tổng quan đến chi tiết
 */


/* Trước khi làm một elememt trả lời câu hỏi sau  */

/* 
1. Vị trí
2. Kích Thước (width , height)
3. Màu sắc
4. Kiểu Dáng (kiểu chữ , hình tròn or vuông ,...) */

#main{
    overflow: hidden;

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top :0;
    left: 0;
    right: 0;
    z-index: 1;
   
}



#nav{
    display: inline-block;
    position: relative;

}

#header #menu-bar-mobile{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    
}
#header #menu-bar-mobile,
#header #search {
    float: right;
  
}
#header #menu-bar-mobile i,
#header #search i{
    color: #fff;
    line-height: 46px;
    padding: 0px 23px;
   

}
#menu-bar-mobile :hover {

    color: #000 !important;
    background-color: #ccc;
}
#search :hover {
    background-color: #f44336;
    cursor: pointer;
}

#nav>li{
    display: inline-block;
}

#nav li{   
    position: relative;
}

#nav >li >a{
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
}

#nav li a{
    
    text-decoration: none;
    
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block;
}


#nav>li:hover>a,
#nav .subnav :hover a{
    color: #000;
    background-color: gray;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #Fff;
    top: 100%;
    box-shadow:0 0 10px rgba(0, 0,0, 0.3);    
}
/* #nav .subnav :hover a{
    color: #000;
    background-color: gray;
} */

#nav .subnav a{
    color: #000;
    min-width: 160px;
    padding: 8px 16px;
    display: block;
    line-height: 22px;
}

#nav .subnav{
    list-style-type: none;
}

#slider{
    /* do header sử dụng positon :fix làm header nổi lên trên 
    .Nên phải đẩy sider xuống 100% = 46px để không bị che mất  */
    margin-top: 46px ;
    /* padding top để + tỷ lệ giữa chiều ngang ảnh và chiều rộng .
    Để khi bỏ vào web ảnh không bị out nét 
    Được tính bằng cách nhân chéo chia ngang chiều rộng x chiều dài ảnh */
    padding-top: 75%; 
    background: url(/WebOnePage_bandNgot/assets/img/renband.jpg) top center /cover no-repeat  ; 
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    left:50%;
    transform: translate(-50%,0%);
}

#slider .text-heading{
    color: white;
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
    font-weight: 500;
    
   
    
}

#slider .text-description{
    color: white;
    text-align: center;
    margin: 15px 0;
    
    font-size: 15px;
    text-shadow: 1px 1px 2px #000;

}








#content{
 
}



#content #content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 12px 64px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    

}

#content .section-heading{
    margin: 10px 0;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    
  
}

#content .section-sub-heading{
    margin: 15px 0;
    opacity: 0.3;
    font-style: italic;
   

}

#content .text-about{
    text-align: justify;
   line-height: 1.6;
    

}
#content .list-member{
    margin-top: 32px;
    /* overflow: hidden; */
}

#content .member-item{
    float: left;
  
    text-align:  center;
}

#content .member-item{
    font-size: 15px;
}
#content .member-img{
    width: 155px;
    margin-top: 15px;
    border-radius: 5px;
}



.tour-section{
    background-color: #000;
   
}

.tickets-list{
    background-color: #fff;
    text-align: left;
    margin-top: 40px;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
    
}




/* places */
.places-list{
    margin-bottom: 64px;
    margin-top: 16px;
 
}




.places-body{
  text-align: left;
  color: #000;
  background-color: #fff;
  font-size: 15px;
  padding: 0 16px;
 



}
.place-img{
    width: 100%;
    display: block;
   
   }

.place-img:hover{
    opacity: 0.6;
    
}
   

.places-name{
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
    

}

.places-time{
    padding-top: 15px;
    color: #757575;

}

.places-description{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.4;
    

}

.places-ticket-btn{

    margin-bottom: 16px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: none;
    
}
.content-map{
    width: 100%;
}






.contact-form{
    text-align: left !important;
    font-size: 15px;
    line-height: 1.5;
    
}

.contact-form i{
    padding-right: 0px;
   width: 30px;
}

.form-contact{
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    
}
.form-submit{
    float: right !important;
    
    padding: 8px 16px;
    background: #000;
    color: white;
    text-transform: uppercase;
    border: none;
}




#footer{
    width: 100%;
}
#footer .containter-footer{
    padding: 64px 16px;
    width: 100%;
    text-align: center;
    
    
    background-color: #f1f1f1!important;
}
#footer .Socialnetwork{
    color: rgba(0, 0,0, 0.6);
 font-size: 24px;
 text-decoration: none;
}

#footer .Socialnetwork i{
    color: rgba(0, 0,0, 0.6);
}
#footer .Socialnetwork i:hover{
    color: rgba(0, 0,0, 0.3);
}

#footer .footer-by a{
    color: rgba(0, 0,0, 0.6);
}



#footer .footer-by {
    
    font-size: 15px;
    margin: 15px 0px;
}


.modal.open{
    display: flex;
}

.modal{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: none;

}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    padding-bottom: 15px;
    /* call animation with :
    function : modalFadeIn
    type : ease
    time : 0.6s  */
    animation: modalFadeIn ease 0.6s;
}
.modal-header {
    height: 130px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  
    color: #fff;
   
}

.modal-close:hover{
    opacity: 1;
}

.modal-close:hover{
    cursor:pointer ;
}

.modal-close{
    color: #fff;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    right: 0;
    top :0;
    padding: 12px;
    background-color: #009688;
    opacity: 0.8;
    
}

.bag{
    margin-right:16px ;
}




.modal-body{

    padding: 16px;
}
.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 14px;
}

.modal-input{
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}
#modal-buy-ticket:hover{
    opacity: 0.9;
    
}
#modal-buy-ticket {
    
    border: none;
    background-color: #009688;
    width: 100%;
    padding: 19px 0px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}
.modal-footer{
    padding: 15px;
    text-align: right;
    
}

.modal-footer a{
    color: #2196F3;
}












/* animation move top to mid the form modal */
@keyframes modalFadeIn {
    from{
        transform: translateY(-130px);
    }

    to{
        transform: translateY(0px);

    }
    
}